.cart-container {

  .cart-text-header {
    color: $color-theme;
    font-weight: $font-weight-bold;
    font-size: 2rem;
    letter-spacing: 2px;
    margin: 30px 0;

    @include md {
      font-size: 1.5rem;
    }
  }

  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid $color-theme;
    padding-bottom: 5px;

    @include md {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .cart_img {
      display: flex;
      width: 400px;

      @include md {
        margin-bottom: 10px;
      }
      
      p {
        font-weight: bold;
        margin-left: 10px;
      }
      
      img {
        border-radius: 5px;
        width: 50px;
        height: 50px;
        object-fit: cover;
      }

    }
    
    button {
      height: 34px;
      padding: 5px 10px;
      font-weight: bold;
      margin-right: 5px;
      border-radius: 5px;
    }

    span {
      display: inline-block;
      height: 34px;
      background-color: $color-instock;
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 10px;
    }

    .cart-price-delete-block {
      display: flex;
      width: 150px;
      justify-content: end;

      @include md {
        margin-top: 10px;
        justify-content: start;
      }
    }

  }

  .total {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

    @include md {
      flex-direction: column;
      align-items: center;
    }

    span:nth-child(1) {
      color: $color-theme;
      font-weight: $font-weight-bold;
      font-size: 2rem;
      letter-spacing: 2px;

      @include md {
        font-size: 1.5rem;
      }
    }
    
    span:nth-child(2) {
      font-size: 2rem;
      color: $color-instock;
      font-weight: bold;
    }

  }
}