footer {
  background-color: $color-dark-theme;
  color: $color-white;
  height: 80px;

  .container {
    @include lg {
      flex-direction: column;
    }
  }

  .available-payments {
    gap: 10px;

    img {

      @include lg {
        max-width: 66px;
        margin-bottom: 10px;
      }
    }
  }
}