.mid-menu .container {

  .navbar-nav {
    width: 100%;
  }

  .account-wishlist {
    
    a {
      width: 115px;
      color: $color-dark-theme;
      font-size: 22px;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: $color-outofstock;
      }
    }
  }

  .search-bar {
    height: 47px;
    
    input {
      border-radius: 23.5px 0 0 23.5px;
      border: 1px solid $color-grayish;
      border-right: none;
      width: 300px;
      outline: none;
    }

    button {
      width: 47px;
      height: 47px;
      background-color: $color-theme;
      border-radius: 0 50% 50% 0;
      color: $color-dark-theme;
      border: 1px solid $color-grayish;

      &:focus {
        box-shadow: none;
      }

      i {
        color: $color-white-gray;
        font-weight: 700;
      }
    }

    .magnifier {
      
      .fa-magnifying-glass {
        &:active {
          color: $color-outofstock;
        }
      }
    }

    @include sm {
      flex-direction: column;

      input {
        border-radius: 23.5px;
        border-right: 2px solid $color-gray;
      }

      .dropdown, button {
        display: none;
      }
    }
  }

  .shopping {
    min-width: 250px;

    a {
    color: $color-dark-theme;
    font-size: 22px;
    text-decoration: none;

      .shopping-height {
        width: 100%;  
      }

      .shoppingamount {
        top: -8px;
        right: -11px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: $color-theme;
        color: $color-white;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
      }

      &:hover {
        color: $color-outofstock;
      }
    }

  }
}

.main-menu {
  border-top: 1px solid $color-gray;
  
  .container {
    height: 50px;
  }
  
  .dropdown {

    button {
    border-radius: 5px;

    .fa-chevron-down {
      padding-left: 3rem;

      @include md {
        padding-left: 0.5rem;
      }
    }

    @include sm {
      font-size: 0.75rem;
    }
    }

  }
  
  .btn-special-offer {
    @include sm {
      font-size: 0.75rem;
    }
  }
}