.mid-menu .container {

  .navbar-nav {
    width: 100%;
  }

  .account-wishlist {
    
    a {
      width: 115px;
      color: $color-dark-theme;
      font-size: 22px;
      text-decoration: none;
      text-align: center;

      &:hover {
        color: $color-outofstock;

      }

      &:last-child {
        text-align: end;
        width: 55px;
      }
    }
  }

  .site-settings {
    height: 100%;
    flex-direction: column;

    select {
      margin-right: 0.75rem;
      border: none;
      background: $color-white;
      color: $color-theme;
      cursor: pointer;

      &:hover {
        color: $color-dark-theme;
      }
    } 

    @include lg {
      flex-direction: row;
    }
  }
  
  .search-bar {

    input {
      border-radius: 23.5px 0 0 23.5px;
      border: 2px solid $color-gray;
      border-right: none;
      width: 250px;
      outline: none;
    }

    .dropdown button {
      width: 150px;
      height: 47px;
      background-color: $color-white;
      border-radius: 0;
      color: $color-dark-theme;
      border: 2px solid $color-gray;

      &:focus {
        box-shadow: none;
      }

      i {
        color: $color-instock;
        font-weight: 700;
      }
    }

    .magnifier {
      border-radius: 0 50% 50% 0;
      width: 47px;
      
      .fa-magnifying-glass {
        &:active {
          color: $color-outofstock;
        }
      }
    }

    @include sm {
      flex-direction: column;

      input {
        border-radius: 23.5px;
        border-right: 2px solid $color-gray;
      }

      .dropdown, button {
        display: none;
      }
    }
  }

  .shopping {
    min-width: 250px;

    a {
    color: $color-dark-theme;
    font-size: 22px;
    text-decoration: none;

      .shopping-height {
        width: 100%;  
      }

      .shoppingamount {
        top: -8px;
        right: -11px;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        background-color: $color-theme;
        color: $color-white;
        font-size: 8px;
        text-align: center;
        line-height: 18px;
      }

      &:hover {
        color: $color-outofstock;
      }
    }

  }
}

.main-menu {
  border-top: 1px solid $color-gray;  
  
  .dropdown {

    button {
    border-radius: 0;
    }
  }
}