.showcase {
  background-color: $color-light-gray;
  
  .container .showcaseBigImg {
    width: 50%;
    height: 650px;
    object-fit: cover; 
    object-position: center bottom;

    @include xl {
      width: 444px;
    }

    @include lg {
      width: 333px;
    }

    @include md {
      display: none;
    }
  }

  .container .showcase_content {

    @include lg {
      margin: auto;
    }

    h2 {
      @include md {
        margin: 5px;
      }
    }

    p {
     width: auto;
 
     @include md {
       width: auto;
       margin: 5px;
     }
   }
  }

  .grey-box {
    @include lg {
      display: none;
    }
  }

}