.grid-item1 { grid-area: Men; overflow: hidden;}
.grid-item2 { grid-area: Women; overflow: hidden;}
.grid-item3 { grid-area: Kids; overflow: hidden;}
.grid-item4 { grid-area: Shoes; overflow: hidden;}
.grid-item5 { grid-area: Hats; overflow: hidden;}
.grid-item6 { grid-area: Sunglass; overflow: hidden;}
.grid-item7 { grid-area: Watches; overflow: hidden;}

.shopping-grid {
  .grid {
    display: grid;
    grid-template-areas:
    'Men Women Women Kids Kids'
    'Shoes Shoes Hats Kids Kids'
    'Shoes Shoes Sunglass Sunglass Watches';
    gap: 10px;
    height: 660px;
    padding: 0;
    margin: 45px 0 114px 0;

    > a {
      background-color: $color-gray;
      position: relative;
      border-radius: 5px;
      font-size: 1.875rem;

      &:hover {
        .grid-pack {
          bottom: 0;
        }
      }
    }
  }

  .grid-pack {
    position: absolute;
    bottom: -30px;
    left: 0;
    padding: 10px;
    width: 50%;
    height: 70px;
    background-color: $color-dark-theme;
    color: $color-theme;
    border-radius: 0 5px 0 5px;
    font-size: 1rem;
    transition: 500ms ease-in-out;

    span {
      font-weight: $font-weight-medium;
    }

    h3 {
      font-size: 0.8em;
      color: $color-dark-gray;
      margin: 5px 0;
    }
  }
}