.top-menu .container {

  .company-logo {
    a {
    text-decoration: none;
    color: $color-white;
    }

    h1 {
      font-family: $font-jost;

      img {
        margin-bottom: 5px;
        background-color: $color-white;
      }
    }
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .navbar-toggler {
    border-color: rgb(255, 255, 255);

    &:focus {
      box-shadow: none;
    }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  } 

  .links {    
    a {
      text-decoration: none;
      color: $color-white;
      padding: 14px 10px;

      &:hover {
        color: $color-dark-theme;
      }
    }

    .socialmedia {

      margin-left: 24px;
      
      @include lg {
        margin: 0;
      }
    }

    .socialmedia > a {
      padding: 5px 12px;

      i {
        color: $color-white;

        &:hover {
          color: $color-dark-theme;
        }
      }
      
      &:last-child {
        padding-right: 0;
      }
    }
  }
}