 .above-form {
  height: 7em;
  background-color: var(--color-dark-background);
  color: var(--color-theme);
 }

 .above-form .container {
  height: 100%;
 }

 .above-form .container a {
  text-decoration: none;
  color: var(--color-theme);
 }

  .above-form .container a::after {
    content: ' ';
  }

 .above-form .container h5 {
   color: var(--color-white);
  }

/* SIGNUP - SIGNIN */

.signup-signin .signin,
.signup-signin .signup {
  background-color: var(--color-white-gray);
  width: 50%;
  height: 100%;
  padding: 30px;
}

.signup-signin .input-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

.signup-signin .input-control input:focus {
  outline: none;
  transform: translateY(-2px);
  transition: 250ms ease-in-out;
}

.signup-signin .input-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
  }

  .signup-signin .input-control small {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    font-size: 0.75em;

  }

    .signup-signin .input-control.validated input {   
      box-shadow: 2px 2px var(--color-instock); 
    }

    .signup-signin .input-control.validated i.fa-check-circle {   
      visibility: visible;
      color: var(--color-instock);
    }

  .signup-signin input {
    border: none;
    padding: 7px;
    border-radius: 3px;
    margin-top: 5px;
  }

  .signup-signin label span {
    color: var(--color-theme);
  }

.signin .remember-me input {
  margin: 0 16px 0 0;
  height: 1rem;
  width: 1rem;
}

.signin .external-login-header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin-top: 40px;
}

.signin .external-login-header span {   
  position: absolute;
  top: -11px;
  margin: 0;
  padding: 0 3em;
  background-color: var(--color-white-gray);
  z-index: 1;
}

.signin .external-login-header .external-login-line {
  height: 2px;
  width: 100%;
  background-color: var(--color-dark-gray);
}

.signin .external-login button {
  height: 42px;
  width: 235px;
  background-repeat: none;
  border: none;
}

  .signin .external-login .external-login-facebook button {
    background-image: url(../images/facebook-login-button.svg);  
  }

  .signin .external-login .external-login-google button {
    background-image: url(../images/google-login-button.svg);  
  }

.signup .card-titel-text {
  color: var(--color-pure-grey);
}

.signup .privacy-policy {
  font-weight: var(--font-weight-medium);
}

.signup .privacy-policy a,
.signin .remember a {
  text-decoration: none;
  color: var(--color-theme);
  opacity: 0.6;
}