.flash-sale {
  background-color: var(--color-dark-theme);
}

.flash-sale .container {
  height: 440px;
}
  
  .flash-sale .flash-sale_content {
    width: 260px;
    height: 270px;
    background-color: var(--color-theme);
  }
  
  .flash-sale_content .flash-saleImg {
    height: 110px;
    width: 140px;
  }
  
  .flash-sale_content p {
    color: var(--color-white);
  }

.flash-sale-sidepanel {
  top: 120px;
  width: 530px;
  height: 114px;
}

  .flash-sale-sidepanel .time-balls .time-ball {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 114px;
    width: 114px;
    border: 3px solid var(--color-theme);
    border-radius: 50%;
    background-color: var(--color-white);
  }

    .time-ball h1 {
      color: var(--color-theme);
      font-weight: var(--font-weight-bold);
      margin: 0;
    }

    .time-ball p {
      color: var(--color-dark-theme);
      margin: 0;
    }