.less-than, .greater-than {
  position: relative;
  display: flex;
  justify-content: center;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: 3px solid var(--color-gray);
}

  .fa-less-than, .fa-greater-than {
    position: absolute;
    top: 8px;
    color: var(--color-gray);
    transform: scaleX(0.5);
    font-weight: 300;
  }

  .less-than:hover, .greater-than:hover {
    background-color: var(--color-theme);
    border-color: var(--color-theme);
    color: var(--color-white);
  }

.box-arrival {
  position: relative;
  border-radius: 10px;
  background-color: var(--color-light-gray);
  height: 400px;
  overflow: hidden;
  color: var(--color-white);
}

.box-dark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(1000px);
  border-radius: 10px;
  background-color: var(--color-dark-theme);
  opacity: 0.8;
  transition: 500ms ease-in-out;
}

  .box-arrival h3 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    left: 25px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--color-theme);
    color: var(--color-white);
    font-size: 1rem;
  }

  .box-arrival img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .box-arrival .p {
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  .box-arrival .product-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    height: 52px;
    width: 100%;
    padding-left: 25px;
    margin: 0;
    background-color: var(--color-dark-theme);
    color: var(--color-white);
    font-size: 18px;
    border-radius: 0 0 10px 10px;
    transition: 500ms ease-in-out;
  }

  .box-arrival .fashion {
    position: absolute;
    border: 1px solid var(--color-white);
    padding: 1px 10px;
    left: 25px;
    bottom: -100px;
    transition: 500ms ease-in-out;
  }
  
  .box-arrival .old-price {
    position: absolute;
    left: 25px;
    text-decoration: line-through;
    bottom: -100px;
    transition: 500ms ease-in-out;
  }

  .box-arrival .new-price {
    position: absolute;
    left: 25px;
    font-size: 1.5rem;
    color: var(--color-theme);
    bottom: -100px;
    transition: 500ms ease-in-out;
  }

  .flying-tab {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 1000px;
    right: 15px;
    padding: 17px 6px;
    background-color: var(--color-light-gray);
    text-align: center;
    border-radius: 25px;
    color: var(--color-dark-gray);    
    transition: 500ms ease-in-out;
  }

  .five-stars {
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: -666px;
    right: 26px;
    padding: 17px 6px;
    color: var(--color-theme);
    font-size: 20px;
    transition: 500ms ease-in-out;
  }

  .flying-tab i {
    padding: 6px;
    font-size: 1.375rem;
  }

  .flying-tab .fa-circle {
    color: var(--color-outofstock);
  }

/* HOVER-ARRIVALS */

  .box-arrival:hover .box-dark {
    transform: translateY(0);
    z-index: 1;
  }

  .box-arrival:hover h3 {
    display: none;
  }

  .box-arrival:hover img {
    border-radius: 10px;
  }

  .box-arrival:hover .flying-tab {
    z-index: 2;
    top: 25px;
  }

  .box-arrival:hover .five-stars {
    bottom: 6px;
    z-index: 2;
  }

    .box-arrival:hover .old-price {
      bottom: 45px;
      z-index: 2;
    }

    .box-arrival:hover .new-price {
      bottom: 0px;
      z-index: 2;
    }

    .box-arrival:hover .fashion {
      bottom: 77px;
      z-index: 2;
    }

    .box-arrival:hover .product-name {
      position: absolute;
      bottom: 115px;
      background-color: transparent;
      z-index: 2;
    }

    .flying-tab i:hover {
      color: var(--color-theme);
    }