.shop-by-category {
  width: 50%;
  margin: 0 auto;
}

  .shop-by-category h1 {
    font-family: var(--font-play);
    font-weight: var(--font-weight-bold);
  }

  .shop-by-category h1 span {
    color: var(--color-theme);
  }