.subscribe-box {
  background-color: var(--color-white-gray);
}

.subscribe-box .container {
  height: 310px;
}

.subscribe-box .container .showcase_content {
  width: 450px;
}

.subscribe-box .container .showcase_content .shop-by-category {
  width: 100%;
}

  .subscribe-box .container .showcase_content p {
    width: 100%;
  }

.grey-box {
  height: 100%;
  width: 50%;
  background-color: var(--color-grayish);
}

.subscribe-box .embeded-subscribe {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 2px solid var(--color-light-gray);
  background-color: var(--color-white);
  color: var(--color-dark-gray);
}

  .subscribe-box input {
    border: none;
    outline: none;
    cursor: pointer;
  }

  .subscribe-box button {
    height: 42px;
    margin: 2px;
  }