.top-menu .container {
  height: 40px;
}

.top-menu .site-settings {
  border-right: 2px solid var(--color-white);
  height: 100%;
}

.top-menu .site-settings select {
  margin-right: 0.75rem;
  border: none;
  background: var(--color-theme);
  color: var(--color-white);
  cursor: pointer;
} 

  .top-menu .site-settings select:hover {
    color: var(--color-dark-theme);
  } 

.top-menu .links a {
  text-decoration: none;
  color: var(--color-white);
  padding: 14px 10px;
}

  .top-menu .links a:hover {
    color: var(--color-dark-theme);
  }

    .top-menu .links .links-top a {
      border-right: 2px solid var(--color-white);
    }

    .top-menu .links .socialmedia > a {
        padding: 5px 12px;
      }

/* @media (min-width: 578px) {
  .top-menu .links {

  }
}

@media (min-width: 992px) {
  .top-menu .links .links-top {

  }
} */