.grid-topsell2 { grid-area: Bexim; }
.grid-topsell1 { grid-area: Lighton; }
.grid-topsell0 { grid-area: Rosimo; }

.topsellers-grid {
  grid-template-areas:
  'Bexim Lighton'
  'Bexim Rosimo';
}

  .grid-topsell2 {
    height: 100%;
  }

  .grid-topsell1, .grid-topsell0 {
    height: 350px;
  }

  .topsellers-img {
    max-height: 710px;
  }

  .box-arrival .corp-logo {
    position: absolute;
    top: 25px;
    left: 25px;
    height: 80px;
    width: 180px;
    background-color: var(--color-white);
    object-fit: contain;
    padding: 20px;
    z-index: 0; 
  }