.webshop-info .container-fluid .infobox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 2rem;
  width: 400px;
  height: 140px;
  border-radius: 8px;
  margin: 7.5rem 1rem;
  background-color: var(--color-theme-light);
}

  .webshop-info .container-fluid .infobox h3 {  
    font-size: 1rem;     
    font-weight: var(--font-weight-medium);
  }

  .webshop-info .container-fluid .infobox p {
    font-weight: var(--font-weight-regular);
  }

  .webshop-info .container-fluid .infobox .infobox-container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  
  .infobox .infobox-container .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  
  .webshop-info .container-fluid .infobox:hover {
    background-color: var(--color-theme);
    color: var(--color-white);
  }

    .infobox:hover .infobox-container .img-top {
        display: inline;
    }