@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;500;700&family=Roboto:wght@400;500;700&family=Jost&display&display=swap');

:root {
  --font-play: 'Play', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-jost: 'Jost', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --color-white: #fff;
  --color-white-gray: #f6f6f6;
  --color-light-gray:  #eee;
  --color-gray: #e3e3e3;
  --color-dark-gray: #aaa;
  --color-instock: #64cb83;
  --color-outofstock: #fe4545;
  --color-theme: #20d3c2;
  --color-theme-light: #edfcfa;
  --color-dark-theme: #0e153d;
  --color-grayish: #ccc;
  --color-dark-background: #50546e;
  --color-pure-grey: #777;
}

.bg-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.bg-dark-theme {
  background-color: var(--color-dark-theme);
  color: var(--color-white);
}

body {
  font-family: var(--font-roboto);
  font-weight: var(--font-weight-regular);
  color: var(--color-dark-theme);   
  line-height: 1.5;
  font-size: 16px;
}

.btn {
  border-radius: 25px;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  padding: 0.75rem 1.75rem;
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-theme);
  border: none;
}

.btn-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
  border: none;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-white:hover,
.btn-white:focus {
    background-color: var(--color-dark-theme);
    color: var(--color-white); 
    border: none;  
}

.btn-special-offer {
  padding: 0.45rem 1.3rem;
}