$font-play: 'Play', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-jost: 'Jost', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$color-white: #fff;
$color-white-gray: #f6f6f6;
$color-light-gray:  #eee;
$color-gray: #e3e3e3;
$color-dark-gray: #aaa;
$color-instock: #64cb83;
$color-outofstock: #fe4545;
$color-theme: #20d3c2;
$color-theme-light: #edfcfa;
$color-dark-theme: #0e153d;
$color-grayish: #ccc;
$color-dark-background: #50546e;
$color-pure-grey: #777;
