@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;500;700&family=Roboto:wght@400;500;700&family=Jost&display&display=swap');
@import './colors';
@import './mixins';
@import './variables';
@import './components/account';
@import './components/flashSale';
@import './components/footer';
@import './components/midMenu';
@import './components/newArrivals';
@import './components/shopByCategory';
@import './components/shoppingGrid';
@import './components/showCase';
@import './components/subscribeSection';
@import './components/thirtyOff';
@import './components/topMenu';
@import './components/webShopInfo';
@import './components/expiredNotice';
@import './components/cart';
@import './components/product';

body {
  font-family: $font-roboto;
  font-weight: $font-weight-regular;
  color: $color-dark-theme;   
  line-height: 1.5;
  font-size: 16px;
}

.btn {
  border-radius: 25px;
  font-size: 1rem;
  font-weight: $font-weight-medium;
  padding: 0.75rem 1.75rem;
}

.btn-white {
  background-color: $color-white;
  color: $color-theme;
  border: none;
}

.btn-theme {
  background-color: $color-theme;
  color: $color-white;
  border: none;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-white:hover,
.btn-white:focus {
    background-color: $color-dark-theme;
    color: $color-white; 
    border: none;  
}

.btn-special-offer {
  padding: 0.45rem 1.3rem;
}